.login-content.row.center-xs.center-sm
	.col-md-base
		.row.center-xs
			.col-xs-12
				.text-field.fs-14
					label.row(class="text-field-box")
						input(type="mario",
							class="pl-0",
							class="email",
							placeholder.once="email",
							id="email",
							name="email",
							v-model="email")
			.col-xs-12
				.text-field.fs-14
					label.row(class="text-field-box")
						input(type="password",
							class="pl-0",
							class="password",
							placeholder.once="password",
							id="password",
							name="password")
			.row.col-sm-12.col-xs-12.center-sm.center-xs
				button.nw-button(class="login-button", @click="signIn(email)")
					| Sign in
			.row.col-xs-12.fs-10.mt-s.mb-xl.center-xs.center-sm
				.uppercase.main-color-text.text-center
					| Forgot password?
			.row.col-xs-12.fs-10.mt-s.mb-xl.center-xs.center-sm
				router-link.global-border-button(:to="{path: '/register'}") Sign Up
